<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.aiziyuer.bundle.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.aiziyuer.bundle.Perspective"
            fixed="true"
            id="com.aiziyuer.bundle.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="app.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.aiziyuer.rcp.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="help"
               label="Help">
            <command
                  commandId="example.bundle.commands.sampleCommand"
                  id="example.bundle.menus.sampleCommand">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="example.bundle.toolbars.sampleToolbar">
            <command
                  commandId="example.bundle.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="example.bundle.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="example.bundle.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="example.bundle.commands.category"
            id="example.bundle.commands.sampleCommand"
            name="Example Bundle Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aiziyuer.bundle.handlers.SampleHandler"
            commandId="example.bundle.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="example.bundle.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.aiziyuer.bundle.models.views.SshSessionViewPart"
            id="com.aiziyuer.bundle.views.SshSessionViewPart"
            name="SSH Connection">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="com.aiziyuer.bundle.perspective">
         <view
               closeable="false"
               id="com.aiziyuer.bundle.views.SshSessionViewPart"
               minimized="false"
               moveable="true"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">  
         </view>  
         </perspectiveExtension>  
   </extension>

</plugin>
