<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.aiziyuer.bundle.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.aiziyuer.bundle.Perspective"
            fixed="true"
            id="com.aiziyuer.bundle.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="app.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.aiziyuer.rcp.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File">
            <menu
                  id="save"
                  label="Save">
            </menu>
         </menu>
         <menu
               id="edit"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="window"
               label="Window">
            <menu
                  id="perspectivesShortlist"
                  label="Perspective">
            </menu>
         </menu>
         <menu
               id="help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="example.bundle.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="example.bundle.commands.category"
            id="example.bundle.commands.sampleCommand"
            name="Example Bundle Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aiziyuer.bundle.handlers.SampleHandler"
            commandId="example.bundle.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="example.bundle.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="com.aiziyuer.bundle.perspective">
            <view
                  closeable="false"
                  id="org.eclipse.ui.navigator.ProjectExplorer"
                  minimized="false"
                  relationship="left"
                  relative="org.eclipse.ui.editorss"
                  standalone="true"
                  visible="true">
            </view>
         </perspectiveExtension>  
   </extension>
   <extension
         id="com.aziyuer.rcp.SamplePreferencePage"
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.aiziyuer.bundle.SamplePreferencePage"
            id="com.aiziyuer.bundle.SamplePreferencePage"
            name="Sample PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aiziyuer.bundle.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </contentExtension></includes>
      </viewerActionBinding>
   </extension>

</plugin>
